@page "/teaching/ml"
@page "/ml"
@inject WeekDataService WeekDataService
@namespace cristian.simionescu.me

<PageTitle>Machine Learning</PageTitle>


<section class="mt-4 text-center">
    <h1 class="text-4xl font-bold  mb-4">Machine Learning Laboratory</h1>
</section>

<section class="my-4 p-4 rounded-lg shadow-lg bg-opacity-25 bg-white">
    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRkm5gCkbFwQSMky4lVp3ccPx4u_v6DPu19ODryzSOkf3tS-JMe3D30RuLW1FJNuZysJHoL195jAgwc/pub?gid=189153332&single=true" target="_blank">
        <button class="bg-white hover:bg-gray-300 text-[#000033] font-bold py-2 px-4 rounded transition duration-300">
                Vezi note
        </button>
    </a>
</section>


@foreach(var currentWeekData in weekData)
{
    <WeekComponent
        WeekNumber="@currentWeekData.WeekNumber"
        UploadFormLink="@currentWeekData.UploadFormLink"
        Homework="@currentWeekData.Homework"
        Deadline="@currentWeekData.Deadline"
        StudentGroups="@currentWeekData.StudentGroups"
    />
}



<section class="mt-8 text-center">
    <h2 class="text-3xl font-bold  mb-4">Saptamana 1</h2>
</section>

<section class="my-4 p-4 rounded-lg shadow-lg bg-opacity-25 bg-white">
    <h2 class="text-2xl font-semibold  mb-4">Formular inscriere</h2>
    <p class="mb-4 ">
        Va rog completati formularul de mai jos.
    </p>
    <a href="https://forms.gle/wW6hRRuEeA9Qm6un9" target="_blank">
        <button class="bg-white hover:bg-gray-300 text-[#000033] font-bold py-2 px-4 rounded transition duration-300">
            Deschide formularul
        </button>
    </a>
</section>

<section class="my-4 p-4 rounded-lg shadow-lg bg-opacity-25 bg-white">
    <h2 class="text-2xl font-semibold  mb-4">Desfasurare Laborator / Evaluare</h2>

    <p class="mb-4 ">
        Prezenta la seminar este obligatorie. Maxim 1 absenta motivata. Absentele aditionale fiind penalizate cu 0.2p per absenta.
    </p>

    <h3 class="text-xl font-semibold  mb-2">Teste si examene</h3>
    <ul class="list-disc pl-5 mb-4 ">
        <li class="mb-1">T1 - maxim 6p, minim 1.5p - Test in prima jumatate a semestrului (sapt. ~5-6)</li>
        <li class="mb-1">T2 - maxim 6p, minim 1.5p - Test in a doua jumatate a semestrului (sapt. ~11-12)</li>
        <li class="mb-1">P1 - maxim 10p, minim 2.5p - Examen partial</li>
        <li class="mb-1">P2 - maxim 10p, minim 2.5p - Examen final in sesiune</li>
        <li class="mb-1">S - maxim 8p, minim 2p - Evaluare pe parcurs, teme, iesit la tabla, teste</li>
    </ul>

    <h3 class="text-xl font-semibold  mb-2">Evaluare pe Parcurs (S - maxim 8p, minim 2p)</h3>
    <div class="mb-4">
        <p>
            La sfarsitul fiecarui laborator, va fi anuntata tema pentru saptamana viitoare.
        </p>
        <p>
            Toti studentii au obligatia sa incerce sa rezolve tema, redactand solutia in Latex (recomand <a class="underline" href="https://www.overleaf.com/" target="_blank">Overleaf</a>)
        </p>
        <p>
            Toate temele trebuie transmise cel tarziu pana Vineri, ora 8:00 in fiecare saptamana
        </p>
    </div>

    <p class="mb-1 text-bold">
        S = TS1 + TS2 + A + AP + E - TN
    </p>
    <ul class="list-disc pl-8 mb-4 ">
        <li class="mb-1">TS1 - maxim 1p - Test scurt 1, seminar (sapt. ~2-3)</li>
        <li class="mb-1">TS2 - maxim 2p - Test scurt 2, seminar (sapt. ~10)</li>
        <li class="font-semibold">
            A - maxim 4p - Activitate seminar
        </li>
        <ul class="list-disc pl-5 mb-2">
            <li>
                Pentru fiecare seminar vor fi anuntati 2-4 studenti care trebuie sa se pregateasca sa prezinte exercitiile alocate saptamanii in cauza. In timpul laboratorului acestia vor prezenta la tabla rezolvarea lor, fara materiale a folosii notite/materiale printate, pentru 1-2 exercitii alese pe loc.
            </li>
            <li>
                Fiecare student trebuie sa fie evaluat macar o data. In caz de 2 evaluari, va fi aleasa nota mai mare.
            </li>
        </ul>
        
        <li class="mb-1">
            AP - maxim 1p -  Implementare unei aplicatii practice. Pe o problema/set de date primit de la profesor, studentii vor trebui sa faca o analiza a problemei, sa decida ce algoritmi de Invatare Automata se preteaza problemei si sa faca o implementare a algoritmului ales, analizand rezultatul obtinut. Redactarea analizelor se face in Latex, implementarea algoritmului fiind posibila in ce limbaj/framework doreste studetul. (sapt. ~13-14)
        </li>
        <li class="mb-1">
            TN - Teme nerezolvate. Corectarea restul temelor va fi facuta prin sondaj. Vor fi alesi aleator 2-10 studenti la fiecare laborator. Acestia trebuie sa fi incercat sa rezolve macar jumatate din tema. Studentii care nu au incercat sa abordeze tema vor fi penalizati cu 0.5p
        </li>
        <li class="font-semibold">
            E - Activitate Extra
        </li>
        <ul class="list-disc pl-5 mb-4 ">
            <li>Activitate la ora aditionala/voluntara este punctata cu 0.1-0.5p</li>
            <li>Teme suplimentare de implementare punctate cu 0.25-0.5p</li>
        </ul>
    </ul>


    <p class="text-bold">
        Asigurate ca ai citit si inteles toate componentele metodei de evaluare pentru a performa optim in cadrul laboratorului!
    </p>
    <p>
        Pentru orice nelamuriri, nu ezita sa ma contactezi! (Discord: simi2525)
    </p>
</section>



@code {
    private List<WeekData> weekData = new List<WeekData>();

    protected override async Task OnInitializedAsync()
    {
        WeekData aux;
        aux = await WeekDataService.GetWeekDataAsync(2);
        if (aux != null)
        {
            weekData.Add(aux);
        }

        aux = await WeekDataService.GetWeekDataAsync(3);
        if (aux != null)
        {
            weekData.Add(aux);
        }

        aux = await WeekDataService.GetWeekDataAsync(4);
        if (aux != null)
        {
            weekData.Add(aux);
        }
        
        weekData.Reverse();
    }
}